* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    background-color: rgba(18, 18, 18);
}

input,
button,
select,
body,
textarea {
    font-family: Arial, Helvetica, sans-serif;
}

#nav {
    padding: 2vh;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(18, 18, 18, 0.95);
    border-bottom: 2px solid rgba(50, 50, 50);
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;

    #navlogo {
        font-size: 2vh;
        color: #ff7a3d;
        text-align: center;
    }

    #navcont {
        a {
            display: inline-block;
            font-size: 2.5vh;
            margin-right: 3vw;
        }

        a:link {
            color: rgba(50, 50, 50);
        }

        a:visited {
            color: rgba(50, 50, 50);
        }

        a:hover {
            color: rgba(100, 100, 100);
            text-decoration: underline rgba(100, 100, 100);
        }

        a:active {
            color: rgba(75, 75, 75);
        }
    }

    #navhire {
        font-size: 3vh;
        border: 1px solid #ff7a3d;
        background-color: #ff7a3d;
        border-radius: 10px;
        padding: 0.2%;

        a:link {
            text-decoration: none;
            color: rgba(50, 50, 50);
        }

        a:visited {
            color: rgba(50, 50, 50);
        }

        a:hover {
            color: rgba(100, 100, 100);
            text-decoration: underline rgba(100, 100, 100);
        }

        a:active {
            color: rgba(75, 75, 75);
        }
    }
}

#landing,
#about,
#Projects,
#contact {
    margin-top: 5vh;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

#intro_text {
    color: white;

    h1 {
        font-size: 4vh;
        margin-bottom: 1vh;
    }

    h2 {
        color: #ff7a3d;
        font-size: 5vh;
        text-decoration: underline rgba(50, 50, 50);
        margin-bottom: 1vh;
    }

    #intro_text_badges {
        display: flex;
        justify-content: space-around;

        .badge {
            font-size: 2vh;
            text-align: center;
            padding: 1%;
            color: rgba(100, 100, 100);
            background-color: rgba(30, 30, 30);
            border: 1px solid rgba(50, 50, 50);
            border-radius: 10px;
        }
    }
}

#intro_img {
    display: flex;
    flex-grow: 0;
    color: rgba(100, 100, 100);
    background-color: rgba(30, 30, 30);
    border: 1px solid rgba(50, 50, 50);
    border-radius: 20%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: brightness(90%);
    }
}

#aboutheading {
    text-align: center;

    h1 {
        font-size: 5vh;
        text-underline-offset: 4px;
        text-decoration: underline #ff7a3d;
        padding-bottom: 2vh;
    }

    p {
        line-height: 1.6;
        font-size: 2.5vh;
    }

    strong {
        font-size: 3vh;
    }
}

#projecthead {
    text-align: center;

    h1 {
        font-size: 5vh;
        text-underline-offset: 4px;
        text-decoration: underline #ff7a3d;
    }
}

#projectgrid {

    @media (min-width:767px) {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5vh;
        justify-content: space-around;
        align-items: start;
        row-gap: 4vh;

    }

    @media (max-width:767px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 5vh;
        margin-left: 5vw;
        margin-right: 5vw;
        row-gap: 5vh;
    }
}

.projectile {
    background-color: rgba(30, 30, 30);
    border: 1px solid rgba(50, 50, 50);
    border-radius: 10px;
    flex-basis: 21%;

    .prjecttilehead {
        font-size: 3vh;
        text-underline-offset: 4px;
        text-decoration: underline #ff7a3d;
        margin-bottom: 2vh;
        margin-top: 1vh;
    }

    .projecttilecont {
        display: flex;
        flex-direction: column;

        img {
            @media (min-width:767px) {
                width: 100%;
                height: auto;

            }

            @media (max-width:767px) {
                width: 100%;
                height: 50vh;
            }

            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
            filter: brightness(90%);
        }

        p {
            padding-top: 2vh;
            font-size: 2.5vh;
        }
    }
}


#contact {
    border-top: 2px solid rgba(50, 50, 50);
}

#contacthead {
    text-align: center;

    h1 {
        font-size: 5vh;
        text-underline-offset: 4px;
        text-decoration: underline #ff7a3d;
    }
}

#contactcont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3vh;
    margin-top: 3vh;

    h3 {
        text-decoration: none;
        color: rgba(50, 50, 50);
    }

    a:link {
        text-decoration: none;
        color: rgba(50, 50, 50);
        margin-right: 3vw;
    }

    a:visited {
        color: rgba(50, 50, 50);
    }

    a:hover {
        color: rgba(100, 100, 100);
        text-decoration: underline rgba(100, 100, 100);
    }

    a:active {
        color: rgba(75, 75, 75);
    }
}